@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Manage your event better!</h1>
    <p class="lead">With this application you will be able to assign duties and keep track of the staff on your event, making it easier to organize those!</p>
    <small>You may create new positions, assign duties and pay per hour. After that, you can start adding staff to available positions.</small>
</div>